.article-card {
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    background-color: #1B1B1D;
    color: #E0E0E0;
    padding: 0px 10px 10px 10px;
    margin: 10px 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.article-card:hover {
    background: linear-gradient(to top right, magenta, blue);
}